#member-display-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 20px;
}

.card {
	width: 25%;
	height: auto;
	background-color: var(--mdc-theme-primary);
	border-radius: 25px;
	color: white;
	box-shadow: 0 2px 4px var(--mdc-theme-secondary);
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

img {
	max-height: 400px;
	max-width: 300px;
}

.member-display-container,
h1 {
	margin-top: 25px;
	margin-bottom: 25px;
	font-size: 30px;
}

.member-display-container,
p {
	text-align: center;
}

#about-us {
	margin-top: 20px;
	text-align: center;
	color: white;
}

#about-gym-helper {
	color: white;
	max-width: 40%;
	text-align: center;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#member-h1 {
	color: white;
	margin-top: 60px;
}
