:root {
	/* --button-color: #2f2d2d;
  --button-text: #f7f4f4; */
	--mdc-theme-primary: #1d1d1d;
	--mdc-theme-secondary: #dcae52;
}

html,
body {
	min-height: 100%;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

#container {
	position: relative;
	min-height: 100vh;
}

#content-container {
	padding-bottom: 2.5rem;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
	background: linear-gradient(
		to bottom left,
		var(--mdc-theme-primary) 60%,
		var(--mdc-theme-secondary) 160%
	);
}

.app-container {
	max-width: 40%;
	margin: 0 auto;
	padding: 16px;
	text-align: center;
	width: auto;
}

.app-intro {
	text-align: center;
	color: white;
}

.card {
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	padding: 16px;
	margin-bottom: 100px;
}

#navLinks {
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(
		to top,
		var(--mdc-theme-primary) 30%,
		var(--mdc-theme-secondary) 200%
	);
}

#navLinks button {
	margin: 0 50px;
	font-size: larger;
}

footer {
	display: flex;
	background-color: var(--mdc-theme-primary);
	height: 50px;
	justify-content: space-between;
	align-items: center;
	color: var(--mdc-theme-secondary);
	font-size: larger;
	padding-right: 25px;
	margin-top: auto;
	position: absolute;
	bottom: 0;
	width: 100%;
}

a:link,
a:active {
	color: var(--mdc-theme-secondary);
}
a:hover {
	color: white;
}
a:visited {
	color: var(--mdc-theme-secondary);
}

#socials {
	display: flex;
	flex-direction: column;
	align-items: center;
}
