#index-workout-params li {
	text-align: left;
	padding-left: 0;
	list-style-type: none; /* Remove default list item bullet */
	margin-bottom: 50px;
	margin-top: 20px;
}

.card {
	box-shadow: 5px 5px 10px var(--mdc-theme-secondary);
}

#app-info li {
	margin-bottom: 10px;
}

#index-form {
	border-radius: 25px;
	color: white;
	background-color: var(--mdc-theme-primary);
	margin-top: 50px;
}

#index-about-app {
	background-color: var(--mdc-theme-primary);
	color: white;
	border-radius: 25px;
}

#index-about-app h2 {
	font-weight: bolder;
	font-size: larger;
	margin-top: 50px;
}

#index-about-app p {
	margin-bottom: 10px;
	margin-top: 10px;
}

label {
	vertical-align: middle;
	display: inline-block;
	width: 150px;
}

.app-intro h1 {
	font-size: 50px;
}

#new-workout-display {
	background-color: var(--mdc-theme-primary);
	border-radius: 25px;
	color: white;
}
