#login-form {
	max-width: 100%;
	margin: 0 auto;
	margin-top: 100px;
	height: 430px;
}

#login-form h2 {
	font-weight: bold;
	margin-bottom: 10px;
}

.mdc-text-field {
	width: 100%;
	height: 90px;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

.mdc-button {
	width: 100%;
	margin: auto;
}

.mdc-floating-label {
	padding-bottom: 30px;
}

.mdc-text-field__input {
	margin-top: 60px;
}

.mdc-button {
	margin-top: 10px;
}

#logout-card {
	margin-top: 50px;
}
