#profile-display {
	border-radius: 25px;
	color: white;
	background-color: var(--mdc-theme-primary);
	margin-top: 50px;
	text-align: center;
}

.profile-container {
	max-width: 40%;
	margin: 0 auto;
	padding: 16px;
	text-align: center;
}

.card {
	box-shadow: 5px 5px 10px var(--mdc-theme-secondary);
}
